<div class="title" style="text-align:center; padding-top: 10px;" %>
  <%= form_with url: movies_path, method: :get, local: true do |f| %>
  <%= f.text_field :movie_title, required: true, class: "form-control", placeholder: "Search by movie title", style: "text-align:center" %>
  <%= f.submit "Find Movies", class: "btn btn-outline-info" %>
  <% end %>
</div>
